<div class="flex flex-col h-full w-full">
    @if (title || showCloseButton) {
        <div class="flex items-center justify-between px-6 py-4 border-b border-gray-200">
            @if (title) {
                <h2 class="text-lg font-semibold text-gray-900">{{ title }}</h2>
            }
            @if (showCloseButton) {
                <button
                    type="button"
                    (click)="onClose()"
                    class="ml-auto p-2 text-gray-400 hover:text-gray-600 hover:bg-gray-100 rounded-full transition-colors"
                    aria-label="Close modal"
                >
                    <div 
                        class="w-5 h-5"
                        [style.mask-image]="'url(assets/images/svgs/close.svg)'"
                        [style.-webkit-mask-image]="'url(assets/images/svgs/close.svg)'"
                        style="mask-size: contain; mask-repeat: no-repeat; mask-position: center; -webkit-mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; background-color: currentColor;"
                    ></div>
                </button>
            }
        </div>
    }
    <div class="flex-1 overflow-auto px-6 py-4">
        @if (contentTemplate) {
            <ng-container *ngTemplateOutlet="contentTemplate; context: data"></ng-container>
        }
        <ng-content></ng-content>
    </div>
</div>

