// Sidebar styling based on Figma design
:host ::ng-deep {
    // Default state - inactive menu items
    .menu-icon-wrapper {
        background-color: #FFFFFF;
        box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
    }
    
    .menu-icon {
        filter: brightness(0) saturate(100%) invert(67%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    }
    
    .menu-text {
        color: #A0AEC0;
        font-family: 'Helvetica', sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.5;
    }
    
    // Active state - white background card with teal icon background
    a.router-link-active {
        background-color: #FFFFFF !important;
        box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02) !important;
        
        .menu-icon-wrapper {
            background-color: #4FD1C5 !important;
        }
        
        .menu-icon {
            filter: brightness(0) invert(1) !important; // White icon on teal background
        }
        
        .menu-text {
            color: #2D3748 !important;
        }
    }
    
    // Hover state for non-active items
    a:hover:not(.router-link-active) {
        background-color: #F7FAFC !important;
        
        .menu-icon-wrapper {
            background-color: #FFFFFF;
        }
    }
}

